<h1><%= t '.title' %> <%= link_to @event.title, url_for(@event) %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<p>
  <%= t '.event' %>: <h3><%= @event.title %></h3>
</p>

<p>
  <%= t '.datetime' %>: <h4><%= l @event.datetime %></h4>
</p>

<p>
  <%= t '.owner' %>: <h4><%= @event.user.name %></h4>
</p>
